# Dependencies
node_modules/

# Build
dist/
dist-ssr/
src-tauri/target/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?

# OS
Thumbs.db
.DS_Store

# Tauri
src-tauri/gen/

# Test
coverage/
